venv/ 
appsuite/appsuite/__pycache__/
appsuite/notes/__pycache__/
initialweb/initialweb/__pycache__/
appsuite/.ipynb_checkpoints
appsuite/Dict-Review.ipynb
initialweb/.ipynb_checkpoints/
initialweb/Consecutive-Once.ipynb
initialweb/Consecutive-Ones.ipynb
